body {
    padding: 0px;
    margin: 0px;
    background-color: #F0EDE6;
    color: #03463A;
}

p {
    margin: 0px;
}

a:link {
    color: #03463A;
    text-decoration: none;
}

a:visited {
    color: #03463A;
}

a.link:hover {
    color: #03463A;
}

.nav {
    width: 100vw;
    height: 40px;
    position: fixed;
    background-color: #F0EDE6;
    display: flex;
    justify-content: space-between;
    z-index: 30;
    border-bottom: 2px solid #C7BEA9;
}


.navcontainer {
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    align-content: center;
    float: left;
}

.name {
    font-family: plantin, serif;
    font-size: 20px;
    position:relative;
    top:50%;
    transform:translateY(-50%); 
    font-weight: 600;
}

.pages {
    font-family: 'Work Sans';
    font-size: 14px;
    position:relative;
    top:50%;
    transform:translateY(-50%);  
}

.title {
    margin-top: 120px;
    font-size: 50px;
    font-family: 'Work Sans';
}

.content-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    font-family: 'Work Sans';
    position: absolute;
}

.grid-container {
    border-right: 2px solid #C7BEA9;
    float: left;
    /* background-color: red; */
}

.column::-webkit-scrollbar {
    display: none;
}

.column {
    width: 450px;
    height: 100%;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10%;
    float: left;
}

.column-align {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
  
}

.column-wide {
    width: 950px;
}

.column1 {
    width: 600px;    
    height: 100vh;
}

.missionname {
    font-size: 55px;
    margin-top: 200px;
}

.h2 {
    font-family: plantin, serif;
    font-size: 55px; 
    margin-top: 150px;
}

.column:hover .icon {
    fill: #F0EDE6;
}

.column2:hover {
    background-color: #F1DFDF;
    color: #9C0101;
}

.column2:hover .remedy-container {
    border: 2px solid #9C0101;
}

.column2:hover .tags {
    border: 1px solid #9C0101;
}

.column3:hover {
    background-color: #FFD9A0;
    color: #BF400A;
}

.column3:hover .remedy-container {
    border: 2px solid #BF400A;
}

.column3:hover .tags {
    border: 1px solid #BF400A;
}

.column4:hover {
    background-color: #CFDCF0;
    color: #193185; 
}

.column4:hover .remedy-container {
    border: 2px solid #193185;
}

.column4:hover .tags {
    border: 1px solid #193185;
}

.column5:hover {
    background-color: #FFDBDB;
    color: #117664; 
}

.column5:hover .remedy-container {
    border: 2px solid #117664;
}

.column5:hover .tags {
    border: 1px solid #117664;
}

.column6:hover {
    background-color: #F2E5D8;
    color: #C94D08; 
}

.column6:hover .remedy-container {
    border: 2px solid #C94D08;
}

.column6:hover .tags {
    border: 1px solid #C94D08;
}

.column7:hover {
    background-color: #E8E1EC;
    color: #CC1212;
}

.column7:hover .remedy-container {
    border: 2px solid #CC1212
}

.column7:hover .tags {
    border: 1px solid #CC1212
}

.column8:hover {
    background-color: #FACDB9;
    color: #224D13;
}

.column8:hover .remedy-container {
    border: 2px solid #224D13
}

.column8:hover .tags {
    border: 1px solid #224D13;
}

.column9:hover {
    background-color: #FFEAA0;
    color: #264EB8;
}

.column9:hover .remedy-container {
    border: 2px solid #264EB8;
}

.column9:hover .tags {
    border: 1px solid #264EB8;
}

.column10:hover {
    background-color: #D3E5CD;
    color: #424B6B;
}

.column10:hover .remedy-container {
    border: 2px solid #424B6B;
}

.column10:hover .tags {
    border: 1px solid #424B6B;
}

.column11:hover {
    background-color: #E6EDF6;
    color: #CC1212;
}

.column11:hover .remedy-container {
    border: 2px solid #CC1212;
}

.column11:hover .tags {
    border: 1px solid #CC1212;
}

.column12:hover {
    background-color: #FBF5D7;
    color: #DB491B;
}

.column12:hover .remedy-container {
    border: 2px solid #DB491B;
}

.column12:hover .tags {
    border: 1px solid #DB491B;
}

.columnname {
    margin-top: 200px;
    font-size: 70px;
    font-family: plantin, serif;
    font-weight: 600;
    vertical-align: text-bottom;
    position: relative;
}

.columnname-bottom {
    position: absolute;
    bottom: 0;
    line-height: 94%;
    margin-bottom: 20px;
}

.remedy-container {
    border: 2px solid #03463A;
    /* border-radius: 10px; */
    padding-top: 40px;
    padding: 30px;
    margin-bottom: 40px;
    width: 390px;
}

.remedy-container-column {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.row {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    display: flex;
}

.row-item {
    flex-direction: row;
}

.plant-img-left-padding {
    /* background-color: red; */
    margin-left: 30px;
}

.bodytype {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    padding-top: 0;
    margin-top: 0;
}

.body-type-about {
    margin-top: 12px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    width: 500px;
}

.body-italic {
    font-family: plantin, serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 60px;
    padding-left: 20px;
    border-left: 2px solid #03463A;
}

.rowname-category {
    font-size: 42px;
    font-family: plantin, serif;
}

.rowname {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 90%;
}

#translation {
    font-family: plantin, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 22px;
    text-transform: capitalize;
}

.tagscontainer {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 10px;
}

.tags-container-extra-top {
    padding-top: 20px;
}


.tags {
    display: table-cell;
    flex-direction: row;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #03463A;
    text-align: center;    
    margin-right: 10px;
    opacity: .5;
}

.icontext {
    font-weight: 600;
    float: left;
    font-size: 14px;
    text-align: center;
}

.preparation {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: plantin, serif;
    font-weight: 700;
    font-size: 20px;
}  

.img-crop {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    object-position: 100% 10%; /* try 20px 10px */ 
    padding-top: 20px;
}

.sticker-ph {
    transform: rotate(-10deg);
    padding: 15px;
}

.sticker-filipino-remedies {
    width: 155px;
    transform: rotate(5deg);
}

.sticker-home-remedies {
    transform: rotate(-8deg);
    /* margin-left: -40px; */
    width: 220px;
}

.sticker-health-wellness {
    transform: rotate(-8deg);
}

.sticker-medicinal-plants-orange {
    transform: rotate(8deg);
    margin-left: -20px;
    width: 220px;
}

.sticker-compilation {
    width: 48vw;
    margin-top: 50px;
}

.content-container-about {
    display: flex;
    flex-direction: row;
}

.grid-container-about {
    width: 50vw;
    overflow: hidden;
}

.column-about {
    width: 50vw;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10%;
    float: left;
    text-overflow: clip;
}

.column-about-sticker {
    width: 50vw;
    position: fixed;
    height: 100vh;
}

.title-about {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Work Sans';
}

.links  {
    width: 500px;
    line-height: 18px;
    /* opacity: .4; */
}

.links p {
    margin-top: 10px;
    word-wrap: break-word;
}

.links a {
    word-wrap: break-word;
}

/* ARCHIVE */
.title-archive {
    margin-left: 45px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.grid {
    margin-top: 160px;
    position: absolute;
    /* top:50%;
    transform:translateY(-50%); */
}

.content-container-archive {
    flex-direction: column;
    display: flex;
    width: 100vw;
    font-family: 'Work Sans';
    z-index: 20;
}

.row-container {
    height: 140px;
    display: flex;
    border-top: 2px solid #C7BEA9;
    justify-content: space-around;
    width: 100%;
    padding-right: 50px;
}

.row-item-archive {
    float: left;
    padding-top: 15px;
    position: relative;
    width: 350px;
}

.links {
    width: 100%;
}
.arrow {
    /* background-color: red; */
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
}

.img {
    width: 250px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-container:hover {
    background-color: rgba(199, 190, 169, 0.35);
}


@media (max-width:375px)  {
    
    .navcontainer {
        padding-left: 5px;
        padding-right: 5px;
    }

    .name {
        font-size: 15px;
    }

    .pages {
        font-size: 12px;
        text-align: center;
    }

    .grid-container {
        width: 350px;
    }

}
