body {
    padding: 0px;
    margin:0;
    background-color: #F0EDE6;
    color: #03463A;
}

.fever {
    background-color: #F1DFDF;  
    color: #9C0101;
}

.fever .remedy-container {
    border: 2px solid #9C0101
}

.fever-border {
    border: 2px solid #9C0101;
}

.grid-line-fever {
    background-color: #9C0101;
}

.anti-helminthic{
    background-color: #FFD9A0;  
    color: #BF400A;
}

.anti-helminthic .remedy-container {
    border: 2px solid #BF400A;
}

.grid-line-anti-helminthic {
    background-color: #BF400A;
}

.anti-helminthic-border {
    border: 2px solid #BF400A;
}

.gout {
    background-color: #CFDCF0;  
    color: #193185;
}

.gout .remedy-container {
    border: 2px solid #193185;
}

.high-blood-sugar {
    background-color: #F2E5D8;
    color: #C94D08;
}

.high-blood-sugar .remedy-container {
    border: 2px solid #C94D08;
}

.high-blood-sugar-border {
    border: 2px solid #C94D08;
}

.grid-line-gout {
    background-color:#193185;
}

.kidney-stones {
    background-color: #FFDBDB;  
    color: #117664;
}

.kidney-stones .remedy-container {
    border: 2px solid #117664;
}

.grid-line-kidney-stones {
    background-color:#117664;
}

.kidney-stones-border {
    border: 2px solid #117664;
}

.high-cholesterol {
    background-color: #E8E1EC;  
    color: #CC1212;
}

.high-cholesterol .remedy-container {
    border: 2px solid #CC1212;
}

.grid-line-high-cholesterol {
    background-color:#CC1212;
}

.high-cholesterol-border {
    border: 2px solid #CC1212;
}

.general-health {
    background-color: #FACDB9;
    color: #224D13;
}

.general-health .remedy-container {
    border: 2px solid #224D13;
}

.grid-line-general-health {
    background-color:#224D13;
}

.general-health-border {
    border: 2px solid #224D13;
}

.pain {
    background-color: #D3E5CD;
    color: #424B6B;
}

.pain .remedy-container {
    border: 2px solid #424B6B;
}

.grid-line-pain {
    background-color: #424B6B;
}

.pain-border {
    border: 2px solid #424B6B;
}

.oral-dental {
    background-color: #FFEAA0;
    color: #264EB8
}

.oral-dental .remedy-container {
    border: 2px solid #264EB8;
}

.grid-line-oral-dental {
    background-color: #264EB8;
}

.oral-dental-border {
    border: 2px solid #264EB8;
}

.respiratory {
    background-color: #E6EDF6;
    color: #CC1212;
}

.respiratory .remedy-container {
    border: 2px solid #CC1212;
}

.grid-line-respiratory {
    background-color: #CC1212;
}

.respiratory-border {
    border: 2px solid #CC1212;
}

.skin {
    background-color: #FBF5D7;
    color: #DB491B;
}

.skin .remedy-container {
    border: 2px solid #DB491B;
}

.grid-line-skin {
    background-color: #DB491B;
}

.skin-border {
    border: 2px solid #DB491B;
}

p {
    margin: 0px;
}

.name {
    font-family: plantin, serif;
    font-size: 32px;
}

.pages {
    font-family: 'Work Sans';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.content-container-row {
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Work Sans';
    position: absolute;
    width: 100vw;
    position:absolute;
    left:50%;
    transform:translateX(-50%);

  
}

.content-container-column {
    flex-direction: column;
    width: auto;
    display: flex;
    justify-content: center;
    font-family: 'Work Sans';
    padding-left: 30px;
    padding-right: 30px;
}

.bottom {
    padding-bottom: 80px;
}

.h2 {
    font-size: 55px; 
    margin-top: 150px;
}

.exit svg {
    width: 40px; 
    height: 40px; 
    position: fixed;
    top: 20px; 
    right: 20px;
    z-index: 20;
}

.site-name-container {
    font-family: plantin, serif;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.site-name {
    font-size: 80px;
    font-family: plantin, serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.subhead {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.columnname {
    font-size: 80px;
    font-family: plantin, serif;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: .9em;
}

.remedy-container {
    position: relative;
    width: 500px;
    height: 100%;
    padding: 50px;
    margin: 25px;
    float: left;
}

.row-1 {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    column-gap: 28px;
}

.row-2 {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    column-gap: 28px;
}

.row-item {
    float: left;
}

.row-item-1 {
    width: 20%;
}

.row-item-2 {
    width: 80%;
}

.rotate {
    transform: rotate(-90deg);
}

ol { 
    padding-left: 20px; 
    list-style: outside decimal;
    margin-top:0;
    margin-bottom:0;
}

ul { 
    padding-left: 20px; 
    margin-top:0;
    margin-bottom:0;
}

.grid-line {
    height: 1px;
    opacity: 0.3;
}

.grid-line-extra-top {
    margin-top: 40px;
}

.header {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: .4;
}

.bodytype {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    padding-top: 0;
    margin-top: 0;
    line-height: 130%;
}

.rowname {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

#translation {
    font-family: plantin, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 22px;
}

.description {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tagscontainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.tags {
    display: table-cell;
    flex-wrap: wrap;
    flex-direction: row;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #03463A;
    text-align: center;    
    margin-right: 10px;
    margin-bottom: 10px;
}

.fever .tags {
    border: 1px solid #9C0101;
}

.icontext {
    font-weight: 600;
    float: left;
    font-size: 16px;
    text-align: center;
}

.preparation {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: plantin, serif;
    font-weight: 700;
    font-size: 20px;
}  

.sources-container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
}

.sources {
    font-weight: 600;
}

.links  {
    font-size: 12px;
    line-height: 12px;
    opacity: .4;
}

.links p {
    margin-top: 4px;
    word-wrap: break-word;
}

.links a {
    word-wrap: break-word;
}

.links-caption{
    padding: 5px;
    width: 350px;
    word-wrap: break-word;
}

.sticker {
    position: absolute;
    z-index: 20;
}

.sticker-fever img {
    width: 150px;
    height: auto;
    transform: rotate(10deg);
    margin-left: 650px;
    margin-top: 650px;
}

.sticker-anti-helminthic img {
    width: 250px;
    transform: rotate(10deg);
    margin-left: 900px;
    margin-top: 450px;
}

.sticker-gout img {
    width: 150px;
    transform: rotate(10deg);
    margin-left: 1000px;
    margin-top: 450px; 
}

.sticker-ulasimang-bato img {
    width: 200px;
    transform: rotate(-10deg);
    margin-left: 300px;
    margin-top: 150px; 
}

.sticker-kidney-stones img {
    width: 200px;
    transform: rotate(-10deg);
    margin-left: 350px;
    margin-top: 780px; 
}

.sticker-high-blood-sugar img {
    width: 150px;
    height: auto;
    transform: rotate(-10deg);
    margin-left: 550px;
    margin-top: 440px;
}

.sticker-ampalaya img {
    width: 200px;
    transform: rotate(20deg);
    margin-left: 1200px;
}

.sticker-high-cholesterol img {
    width: 160px;
    transform: rotate(-10deg);
    margin-left: 1300px;
    margin-top: 100px; 
}

.sticker-bawang img {
    width: 150px;
    height: auto;
    transform: rotate(10deg);
    margin-left: 650px;
    margin-top: 430px;
}

.sticker-general-health img {
    width: 250px;
    transform: rotate(10deg);
    margin-left: 1000px;
    margin-top: 500px; 
}

.sticker-oral-dental img {
    width: 200px;
    height: auto;
    transform: rotate(10deg);
    margin-left: 1050px;
    margin-top: 1200px;
}

.sticker-pain img {
    width: 200px;
    height: auto;
    transform: rotate(10deg);
    margin-left: 780px;
    margin-top: 800px;
}

.sticker-yerba-buena img {
    width: 200px;
    height: auto;
    transform: rotate(-18deg);
    margin-left: 50px;
    margin-top: 380px;
}

.sticker-respiratory img {
    width: 200px;
    height: auto;
    transform: rotate(10deg);
    margin-left: 1000px;
    margin-top: 750px;
}

.sticker-lagundi img {
    width: 180px;
    height: auto;
    transform: rotate(-15deg);
    margin-left: 300px;
    margin-top: 300px;
}

.sticker-skin img {
    width: 150px;
    height: auto;
    transform: rotate(-10deg);
    margin-left: 100px;
    margin-top: 1550px;
}

.sticker-acapulco img {
    width: 150px;
    height: auto;
    transform: rotate(-15deg);
    margin-left: 600px;
    margin-top: 450px;
}

.sticker-bayabas img {
    width: 200px;
    height: auto;
    transform: rotate(10deg);
    margin-left: 750px;
    margin-top: 850px;
}

.plant-img {
    /* float: right; */
    width: 375px;
    position: relative;
    margin: 30px;
}

.plant-img img {
    display: block;
    width: 375px;
    border: 2px solid #03463A;
}

.plant-img-tsaang-gubat {
    width: 375px;
    border: 2px solid #03463A;
    position: relative;
    margin: 30px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.plant-img-tsaang-gubat img {
    width: 250px;
    display: block;
}

@media (max-width:375px)  { 
    body {
        overflow-x: hidden; 
    }

    .site-name {
        font-size: 50px;
        line-height: .9em;
    }

    .content-container-row {
        flex-direction: column;
    }

    .row-2{
        flex-direction: column;
    }

    .remedy-container {
    position: relative;
    width: 200px;
    }

    .sticker {
        display: none;
    }

    .row-1 {
        flex-direction: column;
    }

    .exit svg { 
        top: 5px; 
        right: 2px;
        /* z-index: 20; */
    }

    .sticker {
        display: none;
    }
}